.header-his{
    text-align: center;
    height: 80px;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FC847E;
    border-radius: 2em;
    color: white;
    margin-top: 20px;
}

/* .hr-line{
    border-top: 5px solid black;
    margin-right: 5px;

} */

.column-g {
    border-radius: 25px;
    background-color:#FC847E;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;

}


