.header-his{
    text-align: center;
    height: 80px;
    font-size: 50px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #FC847E;
    border-radius: 2em;
    color: white;
    
}

.hr-line{
    border-top: 1px solid black;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;

}

.column-g {
    float: left;
    padding: 10px;
    border-radius: 2em;
    margin-left: 120px;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #FC847E;
    margin-top: 10px;

  }
