.header-resbooking{
    text-align: center;
    height: 80px;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FC847E;
    border-radius: 2em;
    color: white;
    margin-top: 20px;
}
